{{>navbar}}
<div class="main__post">
    <img src = "/uploads/{{clickedPost.img}}">
    <h1 class="title">{{clickedPost.title}}</h1>
    <div class="tag__container">
        {{#each clickedPost.tags}}
            <span class="tag">{{this}}</span>
        {{/each}}
    </div>
    <div class = "header__section">
        <div class="star__container">
            <a class="fas fa-star s1"></a>
            <a class="fas fa-star s2"></a>
            <a class="fas fa-star s3"></a>
            <a class="fas fa-star s4"></a>
            <a class="fas fa-star s5"></a>
        </div>
        {{#if clickedPost.scoreRating}}
            <h1 class = "average">{{clickedPost.scoreRating}}</h1>
        {{else}}
            <h1 class = "average">0</h1>
        {{/if}}
        {{#if clickedPost.nrOfRatings}}
            <h1 class = "nrOfRatings">{{clickedPost.nrOfRatings}} Ratings</h1>
        {{else}}
            <h1 class = "nrOfRatings">0 Ratings</h1>
        {{/if}}
    </div>
    <h1 class="description">Description</h1>
    <span>{{clickedPost.description}}</span>
    <div class="comment__container">
        <h1 class = "h1__header">Comments</h1>
        <div class = "showComment__container">
            {{#each comments}}
                <div class = "comment">
                    <div class = "header">
                        <img src = "/images/avatar.png">
                        <h1>{{this.username}}</h1>
                        <span>{{this.date}}</span>
                        <div class="commentStars__container">
                            {{#each this.stars}}
                                <a class="fas fa-star"></a>
                            {{/each}}
                        </div>
                    </div>
                    <p>{{this.comment}}</p>
                </div>
            {{/each}}
        </div>
        <div class="post__container">
            {{#if isAuthenticated}}
                <div class="rate__container">
                    <div class="stars__container">
                        <a name = "0" class="fas fa-star s1 star"></a>
                        <a name = "1" class="fas fa-star s2 star"></a>
                        <a name = "2" class="fas fa-star s3 star"></a>
                        <a name = "3" class = "fas fa-star s4 star"></a>
                        <a name = "4" class="fas fa-star s5 star"></a>
                    </div>
                    <p>Select a rating to write a review</p>
                </div>
                <div class = "comment__section">
                    <input id = "comment-input" placeholder = "Type here to post your comment">
                    <button id = "comment-btn">Post comment</button>
                </div>
            {{else}}
                <a class = "signPost" href = "/login" type = "button">Sign in to write a review</a>
            {{/if}}
        </div>
    </div>
</div>
<script src = "/javascript/rating.js"></script>
<script src = "/javascript/comments.js"></script>
